.navbar {
    background-color: #6DCCB2;
    color: #fff;
    font-weight: bold;
    
}

.logotipo{
    width: 150px;
    height: auto;
}


.iconos-redes-header{
    width: 25px;
}

.iconos{
    padding-left: 30px;
    padding-top: 5px;
    vertical-align: middle;
}

.banner{
    position: relative;
}

#aboutMe{
    position: relative;
    margin-top: 100px;
    
}

@media (max-width: 767px){
    div.image,
    div.logo,
    .name,
    .info,
    h3,
    div .fullstack,
    div .courses{
        text-align: center;
    }
    
    .logoAr,
    .logoCo{
        margin-left: 0;
    }
}

img.profile{
   width: 150px;
}

.logoAr{
    background-color: black;
}

.logoAr,
.logoCo{
    width: 150px;
    height: auto;
    margin-left: 35px;
}

